@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');

body{
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #5488c7;
    color: white;
}

html, .fullscreen{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 20px;
    padding: 10px;
    margin: auto;
}

h2, p{
    margin: 0;
}

.title{
    font-size: 2rem;
    text-align: center;
}

.user-list > *{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input{
    display: inline-block;
    border-radius: 5px 0 0 5px;
    border: 2px solid white;
}

input:focus{
    outline: none;
}

button{
    background-color: #4a6f9d;
    border: 2px solid white;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 5px 10px;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: #5488c7;
}

header{
    padding-bottom: 20px;
}

header div{
    display: flex;
    justify-content: center;
}

main{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-items: center;
    justify-content: space-evenly;
}

main>*{
    width: 100%;
    margin-bottom: 40px;
    background-color: #4a6f9d;
}

article .text{
    padding: 10px;
}

article h2{
    margin-bottom: 10px;
}

main a{
    text-decoration: none;
    color: white;
}

img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
  